/* CSS Document */
.about_title{
	margin-top:65px;
	}
.about_head{
	padding-top:30px;
	}
.pic{
	height:120px;
	}
.pic img{
	display:block;
	height:100%;
	width:100%;
	}
.sub-title p{
	line-height:30px;
	}
.timeline{
	text-align:left;
	color:#FFFFFF;
	margin-top:15px;
	position:relative;
	top:-100px;
	}
.timeline p{
	font-weight:300;
	margin-top:5px;
	padding-right:15px;
	}
.timeline h3{
	margin-bottom:5px;
	}
.t-content{
	top:100%;
	}
.title-line{
	position: relative;
	top:-115px;
	min-height:80px;
	}
.about-sub-title{
	position:relative;
	top:-100px;
	min-height:100px;
	}
.timelinest{
	position:relative;
	top:-100px;
	min-height:200px;}