/* CSS Document */
.about_title{
	margin-top:65px;
	}
.about_head{
	padding-top:30px;
	}
.pic{
	height:120px;
	}
.pic img{
	display:block;
	height:100%;
	width:100%;
	}
.sub-title p{
	line-height:30px;}
