.blog-page,.blog-page-left {
	height: 100%;
}

.blog-title {
	color: black;
}

.tag-box {
	width: -webkit-calc(100% - 60px);
	width: calc(100% - 40px);
	height: -webkit-calc(100% - 160px);
	height: calc(100% - 160px);
	margin-left: -13%;
	padding:80px 20px;
}

.tag {
	display: inline-block;
	padding: 10px 20px;
	background-color: lightblue;
	margin: 10px 5px;
}

.tag-arrow {
	
}

.single-post {
	margin: 20px 5% 20px 5%;
	padding: 20px 0 20px 0;
	width: 90%;
	height: 180px;
	border-bottom: solid 2px;
}

.single-post-content {
	padding: 15px 0;
}