.contact-title {
	padding-top:60px;
	width:315px;
}
.ct-title{
	border-top:solid 5px #fff;
	border-right:solid 5px #fff;
	float:left;
	padding:10px 5px 0 20px;
	}
.ct-icon{
	display:block;
	float:left;
	width:70px;
	height:71px;
	border-bottom:solid 5px #fff;
	padding:10px 0 0 10px;
	}

.card-list {
	perspective: 400px;
	margin-left: -50px;
}

.card {
	display: block;
	float: left;
	width: 80px;
	height: 80px;
	border: solid white 4px;
	border-radius: 10px;
	margin: 30px;
	color: #962f59;
	transform-style: preserve-3d;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-o-tranform-style: preserve-3d;
	-ms-transform:rotate(45deg);
	-moz-transform:rotate(45deg); 
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
}

.card:hover{
	box-shadow: none;
	margin-top: 32px;
	width:77px;
	height:77px;
}

.flip {
	transition: transform 0.6s;
	-webkit-transition: -webkit-transform 0.6s;
	-moz-transition: -moz-transform 0.6s;
	-o-transition: -o-transform 0.6s;
	-ms-transform:rotateY(180deg) rotate(45deg);
	-moz-transform:rotateY(180deg) rotate(45deg); 
	-webkit-transform:rotateY(180deg) rotate(45deg);
	-o-transform:rotateY(180deg) rotate(45deg);
	transform: rotateY(180deg) rotate(45deg);
}


.card2 {
	-webkit-transition-delay: 0.2s;
	-moz-transition-delay: 0.2s;
	-o-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.card3 {
	-webkit-transition-delay: 0.4s;
	-moz-transition-delay: 0.4s;
	-o-transition-delay: 0.4s;
	transition-delay: 0.4s;
}

.card4 {
	-webkit-transition-delay: 0.6s;
	-moz-transition-delay: 0.6s;
	-o-transition-delay: 0.6s;
	transition-delay: 0.6s;
}

.card5 {
	-webkit-transition-delay: 0.8s;
	-moz-transition-delay: 0.8s;
	-o-transition-delay: 0.8s;
	transition-delay: 0.8s;
}

.card .card-front, .card .card-back {
	position: absolute;
	backface-visibility: hidden;
	-webkit-backface-visibility: hidden;
	width: 100%;
	height: 100%;
}

.card .card-back {
	-ms-transform:rotateY(180deg) rotate(90deg);
	-moz-transform:rotateY(180deg) rotate(90deg); 
	-webkit-transform:rotateY(180deg) rotate(90deg);
	-o-transform:rotateY(180deg) rotate(90deg);
	transform: rotateY( 180deg ) rotate(90deg);
}


.card a {
	display: block;
	width: 100%;
	height: 100%;
}

.card i {
	font-size: 30px;
	color: white;
	margin: 25px;
	-ms-transform:rotate(-45deg);
	-moz-transform:rotate(-45deg); 
	-webkit-transform:rotate(-45deg);
	-o-transform:rotate(-45deg);
	transform:rotate(-45deg);
}

a .fa-facebook {
	margin-left: 32px;
}
