.row {
	width:95%;
	margin:0 auto;
}

.col-1-1 {
	float:left;
    width:100%;	
}

.col-3-4 {
	float:left;
    width:75%;
}


.col-1-2 {
	float:left;
    width:50%;
}

.col-1-3 {
	float:left;
    width:33.3%;
}

.col-2-3 {
	float: left;
	width: 66.6%;
}

.col-1-4 {
	float:left;
    width:25%;
}

.col-1-5 {
	float:left;
    width:20%;
}

.col-1-6 {
	float:left;
    width:16.6%;
}

.col-1-12 {
	float:left;
    width:8.3%;
}

.col-10-12 {
	float: left;
	width: 83.3%;
}


/*offset*/
.col-offset-1-12 {
	margin-left: 8.3%;
}

.col-offset-1-6 {
	margin-left: 16.6%;
}

.col-offset-1-4 {
	margin-left: 25%;
}

.col-offset-1-3 {
	margin-left: 33.3%;
}

@media screen and (min-width: 992px) and (max-width: 1200px){
	.com-md-1-1 {
		float:left;
    	width:100%;
	}

	.col-md-1-2 {
		float:left;
    	width:50%;
	}

	.col-md-1-3 {
		float:left;
    	width:33.3%;
	}

	.col-md-1-4 {
		float:left;
    	width:25%;
	}

	.col-md-1-5 {
		float:left;
    	width:20%;
	}

	.col-md-1-6 {
		float:left;
    	width:16.6%;
	}

	.col-md-1-12 {
		float:left;
    	width:8.3%;
	}
}

@media screen and (max-width: 992px){
	.com-sm-1-1 {
	    margin: 0 auto;
		float:left;
    	width:100%;
	}

	.col-sm-1-2 {
    	margin: 0 auto;
		float:left;
    	width:50%;
	}

	.col-sm-1-3 {
    	margin: 0 auto;
		float:left;
    	width:33.3%;
	}

	.col-sm-1-4 {
    	margin: 0 auto;
		float:left;
    	width:25%;
	}

	.col-sm-1-5 {
    	margin: 0 auto;
		float:left;
    	width:20%;
	}

	.col-sm-1-6 {
    	margin: 0 auto;
		float:left;
    	width:16.6%;
	}

	.col-sm-1-12 {
    	margin: 0 auto;
		float:left;
    	width:8.3%;
	}
}