/* CSS Document */
.portfolio-content {
	margin: 100px 8% 0;
}
.grid {
	list-style: outside none none;
    margin: 0 auto;
    max-width: 1300px;
    padding: 20px 0px 100px;
    position: relative;
    text-align: center;
    top: -20px;
	}
.grid li{
	display:inline-block;
	padding:10px;
	margin:20px;
	position:relative;
	}
.project-box{
	float:left;
	border:solid white 2px;
	width:225px;
	height:150px;
	background-color:white;
	color:#054c26;
	}