/* CSS Document */
.portfolio-content {
	width:95%;
	margin:0 auto;
}
/*common style*/
.effect{
	position:relative;
	width: 280px;
	height: 210px;
	overflow:hidden;
	margin-top:50px;
	margin-bottom:20px;
	text-align:center;
	cursor:pointer;
	}
.effect figcaption{
	color:#fff;
	padding:0.5em 1.5em;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	}
.effect img{
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
	}
.effect figcaption::before,
.effect figcaption::after {
	pointer-events: none;
}
.effect figcaption,
.effect figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 90%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.effect figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.effect h2 {
	word-spacing: -0.15em;
	letter-spacing:1.5px;
	font-weight: 500;
}

.effect h2,
.effect p {
	margin: 0;
}

.effect p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*effect 1*/
figure.effect_1{
	background: #42b078;
	}
figure.effect_1 img{
	max-width: none;
	width: -webkit-calc(100% + 25px);
	width: calc(100% + 25px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-15px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	}
figure.effect_1:hover img {
	opacity: 0.3;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}
figure.effect_1 figcaption{
	text-align:left;
	}
figure.effect_1 h2{
	position:relative;
	padding:0.2em 0;
	overflow:hidden;
	}
figure.effect_1 h2:after{
	position:absolute;
	content: '';
	bottom: 0;
	left: 0;
	width: 90%;
	height: 3px;
	background: #fff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%,0,0);
	transform: translate3d(-100%,0,0);
	}
figure.effect_1:hover h2:after{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
figure.effect_1 p{
	padding:1em 0;
	opacity:0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
	}
figure.effect_1:hover p{
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
	
/*effect 2*/
figure.effect_2{
	background: #42b078;
	}
figure.effect_2 img{
	max-width: none;
	width: -webkit-calc(100% + 25px);
	width: calc(100% + 25px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-15px,0,0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	}
figure.effect_2:hover img {
	opacity: 0.3;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
figure.effect_2 figcaption{
	text-align:left;
	padding:16px 2.5em 2.5em 30px;
	}
figure.effect_2 figcaption::before{
	position:absolute;
	top:17px;
	bottom:100px;
	right:80px;
	left:20px;
	border:1px solid #FFFFFF;
	opacity:0;
	content:'';
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-20px,0,0);
	transform: translate3d(-20px,0,0);
	}
figure.effect_2 p{
	padding:2em 0;
	opacity:0;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-10px,0,0);
	transform: translate3d(-10px,0,0);
	}
figure.effect_2:hover figcaption::before,
figure.effect_2:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
	}
	
/*effect 3*/
figure.effect_3{
	background: #42b078;
	}
figure.effect_3 img{
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
	}
figure.effect_3:hover img {
	opacity: 0.3;
	-webkit-transform: scale(1);
	transform: scale(1);
	}
figure.effect_3 figcaption{
	text-align:center;
	padding:1em;
	}
figure.effect_3 figcaption::before{
	position:absolute;
	top:20px;
	bottom:60px;
	right:30px;
	left:20px;
	border:1px solid #FFFFFF;
	content:'';
	-webkit-transform: scale(1.12);
	transform: scale(1.12);
	}
figure.effect_3 p{
	max-width:250px;
	padding-top:2em;
	-webkit-transform: scale(1.5);
	transform: scale(1.5);
	}
figure.effect_3 figcaption::before,
figure.effect_3 p {
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	}
figure.effect_3:hover figcaption::before,
figure.effect_3:hover p {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
	}

/*effect 4*/