<div class="row about_head">
	<div class="col-1-3 col-offset-1-12">
    	<div class="title left about_title">
        	About
		</div>    
    </div>
    <div class="col-1-6">
    	<div class="pic">
        	<img src="../images/portrait.svg" alt="portrait">
        </div>
    </div>
</div>
<div class="row">
	<div class="col-10-12 col-offset-1-12">
    	<div class="sub-title">
        	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-
mod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-
mod tempor incididunt ut labore et dolore magna aliqua.
			</p>
        </div>
    </div>
</div>
<div class="row timeline">
	<div class="col-1-6 col-offset-1-6 t-content">
    	<h3>title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elita. </p>
    </div>
    <div class="col-1-6">
    	<h3>title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elita. </p>
    </div>
    <div class="col-1-6">
    	<h3>title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elita. </p>
    </div>
    <div class="col-1-6">
    	<h3>title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elita. </p>
    </div>
</div>
<div class="row">
	<div class="col-10-12 col-offset-1-12">
    	<object>
        	<embed src="../images/timeline.svg" style="z-index:0;">
        </object>
    </div>
</div>
<div class="row timeline">
	<div class="col-1-6 col-offset-1-3">
    	<h3>title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elita. </p>
    </div>
    <div class="col-1-6 col-offset-1-6">
    	<h3>title</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elita. </p>
    </div>
</div>