<div class="row blog-page">
	<div class="col-1-5 blog-page-left">
		<div class="title blog-title">Blog</div>
		<div class="tag-box bg-yellow">
			<div class="tag-arrow"></div>
			<div class="tag">HTML</div>
			<div class="tag">CSS</div>
			<div class="tag">Javascript</div>
		</div>
	</div>
	<div class="col-4-5">
		<div class="blog-content">
			<section class='single-post'>
				<div class="sl-h1">This is a blog Title</div>
				<div>Tags: <span> Tag1 </span> <span> Tag2 </span></div>
				<div class="single-post-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-
					mod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-
					mod tempor incididunt ut labore et dolore magna aliqua.
				</div>
				<div class="readMore"><a href="">Read More</a></div>
			</section>
			<section class='single-post'>
				<div class="sl-h1">This is a blog Title</div>
				<div>Tags: <span> Tag1 </span> <span> Tag2 </span></div>
				<div class="single-post-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-
					mod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-
					mod tempor incididunt ut labore et dolore magna aliqua.
				</div>
				<div class="readMore"><a href="">Read More</a></div>
			</section>
			<section class='single-post'>
				<div class="sl-h1">This is a blog Title</div>
				<div>Tags: <span> Tag1 </span> <span> Tag2 </span></div>
				<div class="single-post-content">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-
					mod tempor incididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius-
					mod tempor incididunt ut labore et dolore magna aliqua.
				</div>
				<div class="readMore"><a href="">Read More</a></div>
			</section>
		</div>
	</div>
</div>