<div class="title center">Contact</div>
<div class="contact-content">
	<div class="sub-title">Send me a message! I'll definitely replay!</div>
	<ul class="card-list">
		<li class="card shadow-left-down">
			<div class="card-front">
			</div>
			<div class="card-back">
				<a href="">
					<i class="fa fa-envelope-o"></i>
				</a>
			</div>
		</li>
		<li class="card shadow-left-down">
			<div class="card-front">
			</div>
			<div class="card-back">
				<a href="">
					<i class="fa fa-twitter"></i>
				</a>
			</div>
		</li>
		<li class="card shadow-left-down">
			<div class="card-front"></div>
			<div class="card-back">
				<a href="">
					<i class="fa fa-facebook"></i>
				</a>
			</div>
		</li>
		<li class="card shadow-left-down">
			<div class="card-front"></div>
			<div class="card-back">
				<a href="">
					<i class="fa fa-linkedin"></i>
				</a>
			</div>
		</li>
		<li class="card shadow-left-down">
			<div class="card-front"></div>
			<div class="card-back">
				<a href="">
					<i class="fa fa-github-alt"></i>
				</a>
			</div>
		</li>
	</ul>
</div>