<nav class="nav-roundcircle">
	<a class="nav-gen nav-left horizontal" id='left-button'>
		<span class="icon-wrap"><svg class="icon" width="32" height="32" viewBox="0 0 64 64"><use xlink:href="#arrow-left"></svg></span>
		<h3>Contact</h3>
	</a>
	<a class="nav-right horizontal" id='right-button'>
		<span class="icon-wrap"><svg class="icon" width="32" height="32" viewBox="0 0 64 64"><use xlink:href="#arrow-right"></svg></span>
		<h3>About</h3>
	</a>
	<a class="nav-top nav-gen vertical" id='top-button'>
		<span class="icon-wrap"><svg class="icon" width="26" height="32" viewBox="0 0 83 83"><use xlink:href="#arrow-up"></svg></span>
		<h3>Blog</h3>
	</a>
	<a class="nav-down nav-gen vertical" id='bottom-button'>
		<span class="icon-wrap"><svg class="icon" width="26" height="32" viewBox="0 0 83 83"><use xlink:href="#arrow-down"></svg></span>
		<h3>Porject</h3>
	</a>
</nav>
<div class="nav">
	<a href="#">
		<i class="fa fa-th"></i>
	</a>
</div>