<div class="title center">Portfolio</div>
<div class="portfolio-content">
	<ul class="grid">
    	<figure class="test">
        	<img src="../images/Surface-maps" alt="surface_maps">
            <figcaption>
            	<div>
                	<h2>MAPS</h2>
                    <p>Redesign the Maps for Windows 8 platform</p>
                </div>
            </figcaption>
        </figure>
				<li class="project-box shadow-down">
					<a href="">
					</a>
				</li>
                <li class="project-box shadow-down">
					<a href="">
					</a>
				</li>
                <li class="project-box shadow-down">
					<a href="">
					</a>
				</li>
                <li class="project-box shadow-down">
					<a href="">
					</a>
				</li>
              </ul>
</div>