<div class="title center">Portfolio</div>
<div class="portfolio-content">
	<ul class="grid">
    	<figure class="effect_1">
        	<img src="../images/project.jpeg" alt="project">
            <figcaption>
                	<h2>MAPS</h2>
                    <p>Redesign the Maps for Windows 8 platform</p>
                    <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect_2">
        	<img src="../images/project.jpeg" alt="project">
            <figcaption>
                	<h2>MAPS</h2>
                    <p>Redesign the Maps for Windows 8 platform</p>
                    <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect_3">
        	<img src="../images/project.jpeg" alt="project">
            <figcaption>
                	<h2>MAPS</h2>
                    <p>Redesign the Maps for Windows 8 platform</p>
                    <a href="#">View more</a>
            </figcaption>
        </figure>
        <figure class="effect_1">
        	<img src="../images/project.jpeg" alt="project">
            <figcaption>
                	<h2>MAPS</h2>
                    <p>Redesign the Maps for Windows 8 platform</p>
                    <a href="#">View more</a>
            </figcaption>
        </figure>
      </ul>
</div>