<div class="matrix-thumbnails">
	<div class="row">
		<div class="col-1-5 col-offset-2-5 thumbnail">
			<div class="thumbnail-top"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-1-5 col-offset-1-5 thumbnail">
			<div class="thumbnail-left"></div>
		</div>
		<div class="col-1-5 thumbnail">
			<div class="thumbnail-center"></div>
		</div>
		<div class="col-1-5 thumbnail">
			<div class="thumbnail-right"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-1-5 col-offset-2-5 thumbnail">
			<div class="thumbnail-bottom"></div>
		</div>
	</div>
</div>

<div class="matrix-thumbnails-backgd">
</div>