<div class="matrix-thumbnails">
	<div class="row">
		<div class="col-1-5 col-offset-2-5 thumbnail">
			<div class="thumbnail-top bg-yellow"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-1-5 col-offset-1-5 thumbnail">
			<div class="thumbnail-left bg-light-pink"></div>
		</div>
		<div class="col-1-5 thumbnail">
			<div class="thumbnail-center bg-dark-black"></div>
		</div>
		<div class="col-1-5 thumbnail">
			<div class="thumbnail-right bg-dark-blue"></div>
		</div>
	</div>
	<div class="row">
		<div class="col-1-5 col-offset-2-5 thumbnail">
			<div class="thumbnail-bottom bg-green"></div>
		</div>
	</div>
</div>

<div class="matrix-thumbnails-backgd">
</div>