<div class="matrix-thumbnails">
	<div class="row">
		<div class="col-1-5 col-offset-2-5 thumbnail">
			<div class="thumbnail-top bg-yellow">
				<div class="thumbnail-title center">
					Blog
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1-5 col-offset-1-5 thumbnail">
			<div class="thumbnail-left bg-light-pink">
				<div class="thumbnail-title center">
					Contact
				</div>
			</div>
		</div>
		<div class="col-1-5 thumbnail">
			<div class="thumbnail-center bg-dark-black">
				<div class="thumbnail-title center">
					Home
				</div>
			</div>
		</div>
		<div class="col-1-5 thumbnail">
			<div class="thumbnail-right bg-dark-blue">
				<div class="thumbnail-title center">
					About
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-1-5 col-offset-2-5 thumbnail">
			<div class="thumbnail-bottom bg-green">
				<div class="thumbnail-title center">
					Project
				</div>
			</div>
		</div>
	</div>
</div>

<div class="matrix-thumbnails-backgd">
</div>