<div class="row center-title">
    <div class="">
        <div class="title">AMAZING TEMPLATE 1.0</div>
    </div>
</div>
<div class="row center-content">
    <div class="col-1-4 col-offset-2-5">
        <div class="visible">
            <div class="center-subtitle">
                here we have
            </div>
            <ul>
                <li style="color:#fd7045;">blog</li>
                <li style="color:#48a075;">portfolio</li>
                <li style="color:#2c5379;">about</li>
                <li style="color:#e56292;">contact</li>
            </ul>
        </div>
    </div>
</div>