<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	
	<body>
		<div class="container" id="main-container">
			<div class="row">
				<div class="col"></div>
				<div class="col bg-yellow">
					{% include blog.html %}
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col bg-light-pink">
					{% include contact.html %}
				</div>
				<div class="col bg-dark-black">
					<div class="center-bg">
						<img src="/images/center-bg.svg">
					</div>
					<div class="center-title">
						<div class="title">LEO HAN</div>
						<div class="sub-title">
							A UXer & Product Hunter
						</div>
					</div>
				</div>
				<div class="col bg-dark-blue">
					{% include about.html %}
				</div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col bg-green">
					{% include portfolio.html %}
				</div>
				<div class="col"></div>
			</div>
			<div class="nav">
				<a href="#">
					<i class="fa fa-th"></i>
				</a>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/js/lib/jquery.easing.1.3.js"></script>
	<script type="text/javascript" src="/js/layout.js"></script>
	<script>
		$(function(){
			view.initialize();
		});
	</script>
</html>