<!DOCTYPE html>
<html lang="en">
	{% include head.html %}
	
	<body>
		<div class="container" id="main-container">
			<div class="row">
				<div class="col"></div>
				<div class="col green">
					{% include blog.html %}
				</div>
				<div class="col"></div>
			</div>
			<div class="row">
				<div class="col red">
					{% include contact.html %}
				</div>
				<div class="col blue">
					<button id='top-button'>top</button>
					<button id='left-button'>left</button>
					<button id='right-button'>right</button>
					<button id='bottom-button'>buttom</button>
				</div>
				<div class="col yellow">
					{% include about.html %}
				</div>
			</div>
			<div class="row">
				<div class="col"></div>
				<div class="col black">
					{% include portfolio.html %}
				</div>
				<div class="col"></div>
			</div>
		</div>
	</body>
	<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
	<script type="text/javascript" src="/js/layout.js"></script>
	<script>
		$(function(){
			view.initialize();
		});
	</script>
</html>