
    initializeNavButtons: function() {
        var topButton = $('#top-button');
        var rightButton = $('#right-button');
        var bottomButton = $('#bottom-button');
        var leftButton = $('#left-button');
        var container = $('#main-container');
        var card = $('.card');
        var timeline = $('.timelinest');

        topButton.on('click', function() {
            view.top = (view.top === 0 || view.left !== 1) ? view.top : view.top - 1;
            container.animate({
                scrollTop: view.top * view.height
            }, {
                duration: view.speed,
                easing: 'easeOutExpo'
            });
            view.controlButtons();
        });
        rightButton.on('click', function() {
            view.left = (view.left === 2 || view.top !== 1) ? view.left : view.left + 1;
            container.animate({
                scrollLeft: view.left * view.width
            }, {
                duration: view.speed,
                easing: 'easeOutExpo',
                complete: function() {
                    if (card.hasClass('flip')) {
                        card.removeClass('flip');
                    }
                    timeline.load('../images/timeline.svg', function(response) {
                        $(this).addClass("svgLoaded");
                        if (!response) {
                            // 加载失败的处理代码
                            console.log('error');
                        }
                    });
                }
            });
            view.controlButtons();
        });
        bottomButton.on('click', function() {
            view.top = (view.top === 2 || view.left !== 1) ? view.top : view.top + 1;
            container.animate({
                scrollTop: view.top * view.height
            }, {
                duration: view.speed,
                easing: 'easeOutExpo'
            });
            view.controlButtons();
        });
        leftButton.on('click', function() {
            view.left = (view.left === 0 || view.top !== 1) ? view.left : view.left - 1;
            container.animate({
                scrollLeft: view.left * view.width
            }, {
                duration: view.speed,
                easing: 'easeOutExpo',
                complete: function() {
                    if (!card.hasClass('flip')) {
                        card.addClass('flip');
                    }
                    if (timeline.hasClass('svgLoaded')) {
                        $('.svgLoaded svg').remove();
                        timeline.removeClass('svgLoaded');
                    }
                },
            });
            view.controlButtons();
        });
    },