---
layout: default
title: Project
---
{{content}}
<script type="text/javascript" src="/js/modernizr.custom.46884.js"></script>
<script type="text/javascript" src="/js/lib/jquery.min.js"></script>
<script type="text/javascript" src="/js/jquery.slicebox.js"></script>
<script type="text/javascript">
	$(function() {
		
		var Page = (function() {
			var $navArrows = $( '#nav-arrows' ).hide(),
				$shadow = $( '#shadow' ).hide(),
				slicebox = $( '#sb-slider' ).slicebox( {
					onReady : function() {
						$navArrows.show();
						$shadow.show();
					},
					orientation : 'r',
					cuboidsRandom : true
				} ),
				
				init = function() {
					initEvents();
					
				},
				initEvents = function() {
					// add navigation events
					$navArrows.children( ':first' ).on( 'click', function() {
						slicebox.next();
						return false;
					} );
					$navArrows.children( ':last' ).on( 'click', function() {
						
						slicebox.previous();
						return false;
					} );
				};
				return { init : init };
		})();
		Page.init();
	});
</script>